<!DOCTYPE html>
<html 	lang="it"
		xmlns="http://www.thymeleaf.org">
	<head>
 		<th:block th:insert="~{fragments/general.html :: header_fragment}"></th:block>


		<title>Internal Page 2</title>
	</head>
	<body>


		<header th:insert="~{fragments/general.html :: menu_fragment}"></header>
		



		<div class="container mt-3">
			<h1 id="pagetitle">Internal page 2</h1>
<!--		<div th:if="${authenticatedUser}" style="float:right;" id="userid">
				<p th:text="'Hello ' + ${authenticatedUser}"> </p>
			</div> 
-->
			<h3 class="mt-4 ">Lorem 2</h3>
			<div class="mb-5">
				<img src="/media/ancient-forest.avif" style="float: right; width: 40%;" class="ps-5">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum et ligula at mollis. Mauris et efficitur leo. Nam aliquam velit aliquam orci molestie consequat. Maecenas at faucibus lacus. Suspendisse vel pulvinar est, vel dapibus magna. Duis tincidunt vehicula erat, et bibendum nisl euismod ut. Curabitur et ante luctus, porta est non, dignissim erat. Praesent non diam tortor. Donec vel faucibus mi. Vivamus a purus ultricies, pretium quam eu, venenatis nibh. Ut vel lectus in turpis rhoncus interdum. Fusce eget sagittis turpis. Morbi malesuada sollicitudin auctor. Phasellus vitae risus eu sapien efficitur lobortis. Sed porta velit eget sodales lacinia.</p>
			</div>
			<br>
			<div class="mb-5">
				<img src="/media/dark-gate.jpg"  style="float: left; width: 40%;" class="pe-5">
				<p>Pellentesque eget purus vitae dolor ullamcorper interdum. Praesent fringilla suscipit leo eget tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur condimentum pretium purus, a convallis nisl venenatis in. Maecenas tempus nunc a turpis tincidunt rutrum. Sed nec tincidunt lectus, sed pellentesque metus. Nullam lacinia, odio ut lobortis efficitur, ante ex feugiat mi, in vehicula lacus augue ac sem. Suspendisse in vehicula elit, fringilla sagittis nisl. In lacinia libero et ex euismod ultricies. Quisque semper dolor a ex fringilla, sit amet ullamcorper ante ornare.</p>
			</div >
			<br>
			<div class="mt-5 mb-5">
				<img src="/media/spirit-world.jpg"  style="float: right; width: 40%;"  class="ps-5">
				<p>Phasellus feugiat mauris a velit consequat pretium. Praesent at arcu at quam varius porta nec id enim. Maecenas venenatis ligula id velit maximus eleifend. Vestibulum vitae metus fringilla, pellentesque eros vel, facilisis nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget tellus justo. Integer semper ultricies tortor sit amet faucibus. Nullam et tempor nulla. In at metus odio. Etiam sed blandit velit. Nullam eu eros nec dolor tempus molestie.</p>
			</div>	
		</div>

				<br>
		<div style="height:100px;"></div>
		
	</body>
</html>