

<div th:fragment="navmenu">
    <script >
		$(document).ready(function navbarName(){
			var  navName = document.getElementsByTagName('title');
			document.getElementById('navbar-title').innerHTML = navName[0].innerText;
		});
	</script>
	
	<nav  class="navbar navbar-expand-lg navbar-light bg-light">
	    <div class="container-fluid">
	        <a class="navbar-brand"  id="navbar-title" ></a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
	                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarNav">
	            <ul class="navbar-nav">
	                <li class="nav-item">
	                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/prodotti}">Inserisci Prodotto</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/listaprodotti}">Elenco Prodotti</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/ordini}">Inserisci Ordine</a>
	                </li>
	         		<li class="nav-item">
	                    <a class="nav-link" th:href="@{/listaordini}">Elenco Ordini</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>   
</div>

